body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container{
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-color: #262c31f3;
}
.container__first{
  /* margin: 0; */
  margin-top: 100vh;

}
.scene{
  position: fixed;
  z-index: -5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  padding: 0;
}
.layer{
  position: absolute;
  z-index: -5;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}
.layer__bg{
  background: url(./img/sky-clouds1.jpg);
  background-size: cover;
}
.layer__0{
  background: url(./img/01.png);
  background-size: cover;
  height: 80%;
  top: 20%;
}
.layer__1{
  background: url(./img/Mountain3.png);
  background-size: cover;
  height: 80%;
  top: 20%;
  left: -50%;
}
.layer__2{
  background: url(./img/Mountain2.png);
  background-size: cover;
  height: 40%;
  top: 60%;
}

.nav_bar{
  background-color: #2a069e !important;
  color: aliceblue;
  font-weight: bold;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.nav_center{
  align-content: center !important;
}
.main__btn{
  height: 80px;
  width: 170px;
  background: linear-gradient(40deg, #2a069e, #0848f8);
  box-shadow: #0848f8 2px 2px 3px;;
  border-radius: 7px;
  position: absolute;
  z-index: 2;
  margin-left: 60%;
  margin-top: 240px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}
main__btn a, main__btn a:hover{
  text-decoration: none;
  color: aquamarine;
}
.title__main{
  font-weight: bolder;
  color: #2a069e;
  font-size: 70px;
  text-shadow: #0848f8 2px 2px 3px;
  position: absolute;
  z-index: 2;
  margin-left: 10%;
  margin-top: 240px;
}
.title__section{
  font-weight: bold;
  color: #2a069e;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  text-shadow: #0848f8 2px 2px 3px;
}
.blocks{
  width: 100%;
}
.line__block{
  float: left;

}

.block_line{
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-top: 20%;
}

.block__one{
  background-color: #fff;
  height: 350px;
  width: 250px;
  border-radius: 15px;
  align-content: center;
  box-shadow: #000000d3 2px 4px 5px;
}
.block__foto{
  height: 200px;
  width: 85%;
  background-color: #362b2b;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
}
.block__text{
  padding: 8px;
  color: #1b1717;
  font-size: small;
}

.container__form{
  background-color: rgb(41, 38, 38);
}
.block__main__form{
  width: 70%;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 60px;
}
.container__plane{
  background-color: #fff;
  height: -moz-max-content;
}
.component__4{
  height: 300px;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  color: #1b1717;
  font-weight: 700;
}
.img__content{
  height: 220px;
  width: 220px;
  overflow: hidden;
  border-radius: 5px;
  background-size: 50%;
}
.img__content img{
  height: 100%;
}


footer{
  height: 250px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 0;
}
.footer__text{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

